<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Welcome to Sydney trains web app
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">  
    </head>
    <body>
        <div class="container" *ngIf="busSchedules">
            <h1> Bus reports </h1>
            <div *ngFor="let busService of busSchedules.data; let i = index" class="panel-group" id="panel-quote-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" (click)="togglePanel($event, i)" data-parent="#panel-quote-group" 
                                class="accordion"> <strong class="js-bustitle">{{busService.organisation}} - {{busService.date}}</strong></a>
                            <span class="pull-right">
                            <a data-toggle="collapse" (click)="togglePanel($event, i)" data-parent="#panel-quote-group">
                            <span [ngClass]="{'glyphicon-collapse-down': chevronToggle[i] === 1, 'glyphicon-collapse-up': chevronToggle[i] === 0}"
							class="toggle-icon glyphicon"></span>
                            </a>
                            </span>
                        </h4>
                    </div>
                    <div id="collapseTable{{i+1}}" class="panel-collapse" [ngClass]="{'in': chevronToggle[i] === 1, 'collapse': chevronToggle[i] === 0}">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-primary">
                                        <th scope="col">Bus ID</th>
                                        <th scope="col">Route Variant</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let busInfo of busService.busData; let i = index">
                                        <td>{{busInfo.busId}}</td>
                                        <td><b>{{getRouteId(busInfo.routeVariant)}}</b>{{getAllButRouteId(busInfo.routeVariant)}}</td>
                                        <td [ngClass]="{'text-green': busInfo.deviationFromTimetable === 0, 
										'text-blue': busInfo.deviationFromTimetable < 0,
										'text-unknown': isUnknown(busInfo.deviationFromTimetable),
										'text-red': busInfo.deviationFromTimetable > 0}">
										{{busInfo.deviationFromTimetable ? getScheduleStatus(busInfo.deviationFromTimetable) : 'UNKNOWN'}}
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" cols="100" id="comment" placeholder="Enter Notes here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
    <script>
		$('a[data-toggle="collapse"]').click(function () {
			$(this).parent().siblings().find('span.toggle-icon').toggleClass('glyphicon-collapse-up glyphicon-collapse-down');
			$(this).parent().find('span.toggle-icon').toggleClass('glyphicon-collapse-up glyphicon-collapse-down');
		});
		
		$('.panel-group').on('show.bs.collapse', function (event) {
			var parent = $(event.target).parents('.collapse.in');
			$('.collapse.in').not(parent).collapse('hide');
		});
    </script>